URxvt.utf8: true
URxvt.locale: true
URxvt.scrollStyle: plain
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.visualBell: false

URxvt.font: xft:Terminus\ (TTF)\ for\ Powerline:size=14

! Background color
!URxvt*background: black
! Font color
!URxvt*foreground: white
